.DS_Store
*.DS_Store
*.pyc
dist/
mm/dist
mmserver/dist
tools/pyinstaller/mmserver
tools/pyinstaller/mm
tools/pyinstaller-dev/mmserver
tools/pyinstaller-dev/mm
platforms/osx/MavensMate/dist
*.log
platforms/osx/MavensMate/release/MavensMate.zip

platforms/osx/MavensMate/build/upload_release.py

mm/build/build_settings.json

platforms/osx/MavensMate/MavensMate.xcodeproj/project.xcworkspace/xcuserdata/josephferraro.xcuserdatad/UserInterfaceState.xcuserstate

*.sublime-project
