.DS_Store
*.DS_Store
*.pyc
dist/
mm/dist
mmserver/dist
tools/pyinstaller/mmserver
tools/pyinstaller/mm
tools/pyinstaller-dev/mmserver
tools/pyinstaller-dev/mm
platforms/osx/MavensMate/dist
*.log
platforms/osx/MavensMate/release/MavensMate.zip

platforms/osx/MavensMate/build/upload_release.py

mm/build/build_settings.json

platforms/osx/MavensMate/MavensMate.xcodeproj/project.xcworkspace/xcuserdata/josephferraro.xcuserdatad/UserInterfaceState.xcuserstate

*.sublime-project

mm/lib/ui/templates/layouts/build/ext.html

tools/pyinstaller-dev/mmserver/build/pyi.darwin/mmserver/out00-PYZ.toc

tools/pyinstaller-dev/mmserver/build/pyi.darwin/mmserver/out00-PYZ.toc

tools/pyinstaller-dev/mmserver/build/pyi.darwin/mmserver/out00-PYZ.pyz

tools/pyinstaller-dev/mmserver/build/pyi.darwin/mmserver/out00-PKG.pkg

tools/pyinstaller-dev/mmserver/build/pyi.darwin/mmserver/out00-EXE.toc

tools/pyinstaller-dev/mmserver/build/pyi.darwin/mmserver/out00-Analysis.toc

tools/pyinstaller-dev/mmserver/build/pyi.darwin/mmserver/mmserver

platforms/osx/MavensMateWindowServer/MavensMateWindowServer.xcodeproj/project.xcworkspace/xcuserdata/josephferraro.xcuserdatad/UserInterfaceState.xcuserstate

tools/pyinstaller-dev/mmserver/build/pyi.darwin/mmserver/mmserver

tools/pyinstaller-dev/mmserver/build/pyi.darwin/mmserver/mmserver

tools/pyinstaller-dev/mmserver/build/pyi.darwin/mmserver/out00-Analysis.toc

tools/pyinstaller-dev/mmserver/build/pyi.darwin/mmserver/out00-EXE.toc

tools/pyinstaller-dev/mmserver/build/pyi.darwin/mmserver/out00-PKG.pkg

tools/pyinstaller-dev/mmserver/build/pyi.darwin/mmserver/out00-PYZ.pyz

tools/pyinstaller-dev/mmserver/build/pyi.darwin/mmserver/out00-PYZ.toc

tools/pyinstaller-dev/mmserver/build/pyi.darwin/mmserver/out00-PYZ.toc

platforms/osx/MavensMate/build/upload_release_use_this_one_last_time.py

platforms/osx/MavensMate/build/release_notes.html

platforms/osx/MavensMate/build/upload_release_cdn.py

mm/build/copy_to_st_package.py

platforms/osx/MavensMate/build/release_mavensmate_app_to_the_world.py
